

 {% extends 'base.html' %}
 {% load static %}
{% block title %}Update Menu Recipe - {{ object.title }}  {% endblock %}
 
 {% block head %}
 {% endblock %}
 
 {% block content %}
 <div class="add_section">
 
     <div class="form_container">
 
         <div class="container">
 
             <h2>Update Menu Recipe <br/> {{ object.title }} Price</h2>
             <form method="POST" action ="">
                 {% csrf_token %}
                 {{ form.as_p }}
                 <div class="submit">
                     <a class="cancel" href="{% url 'menu' %}">Cancel</a>
                     
                     <input type='submit' value="Confirm">
                 </div>
             </form>
 
         </div>
     </div>
 </div>
 {% endblock %}